html,
body {
  margin: 0px;
  padding: 0px;
}

/* Responsive */
@font-face {
  font-family: "Rubik";
  src: url("/juncoffee/frontend/assets/font/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/juncoffee/frontend/assets/font/Poppins-Regular.ttf");
}

@media (max-width: 790px) {
  .column-image {
    display: none;
  }
  .column-main {
    background-color: aliceblue;
  }
}

@media (max-width: 500px) {
  .side-title {
    padding: 0 0% !important;
  }
  .page-title {
    float: none !important;
    font-size: 28px !important;
    margin-top: 20px !important;
    text-align: center;
  }
  .register {
    padding: 8% 10% 0 !important;
    margin: 0px 10px 26px !important;
  }
  .google-button {
    font-size: 13px !important;
    margin-bottom: 20px !important;
  }
  .already-account-text {
    font-size: 12px !important;
  }
  .already-account {
    margin-bottom: 20px !important;
  }
  .login-here-button {
    margin-bottom: 20px !important;
  }
  .link {
    display: none !important;
  }
  .describe {
    width: 100% !important;
    padding-top: 0 !important;
  }
}

/* Main container */
.container {
  display: flex;
  width: 100%;
}

.column-image,
.side-image {
  width: 100%;
  height: 1284px;
}

.column-main {
  width: 100%;
  padding: 55px;
}

.side-title {
  padding: 0 10%;
}

.header-title {
  display: inline;
  position: absolute;
  top: 45px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.page-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  float: right;
  line-height: 41px;
  color: #6a4029;
}

.register-form {
  display: grid;
}

.register {
  display: grid;
  padding: 10% 10% 0;
  margin: 10px 10px 26px;
}

label {
  margin-bottom: 13px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

input {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(79, 86, 101);
  border-radius: 10px;
  height: 40px;
  margin-bottom: 19px;
}

::placeholder {
  padding-left: 1%;
}

.register-button {
  background: #ffba33;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  border-radius: 10px;
  border: none;
  height: 40px;
  margin-bottom: 26px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #6a4029;
}

.register-button:hover {
  background-color: #fdc75b;
}

.google-button {
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
  border: none;
  border-radius: 10px;
  height: 40px;
  padding-bottom: 10px;
  margin-bottom: 62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.google-button:hover {
  background-color: #f1f1f1;
}

.google-icon {
  position: relative;
  top: 6px;
}

.already-account {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 42px;
}

.already-account-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #9f9f9f;
}

.underline {
  border-bottom: solid 2px #c4c4c4;
}

.sideline {
  border-left: 2px solid #eeeff2;
}

.login-here-button {
  height: 40px;
  margin-bottom: 82px;

  background: #6a4029;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.63);
  border-radius: 10px;
  border: none;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: white;
}

.login-here-button:hover {
  background-color: #7c523c;
}

footer {
  display: flex;
}

.link-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.link-item {
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer-title {
  display: inline;
  position: relative;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  bottom: 5px;
  color: #0b132a;
}

.describe {
  width: 50%;
  padding: 10% 10% 0;
}

.link {
  width: 50%;
}

a,
footer-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665 !important;
}

.forgot-pass {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 51px;

  color: #6a4029;
}

/* Bootstrap */
.nav-coffee {
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}
.navbar-brand {
  padding-left: 10%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 2rem !important;
}
.navbar-nav {
  margin-left: 30%;
}
span.navbar-text {
  padding-right: 2%;
}
.btn-primary {
  margin-right: 10% !important;
  background-color: #ffba33 !important;
  border: none !important;
  border-radius: 50px !important;
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #6a4029 !important;
  width: 10%;
  height: 45px;
}
.btn-primary:hover {
  background-color: #fdc75b !important;
}
.login-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a !important;
}
.navbar-nav .nav-link.active {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  color: #6a4029 !important;
}
.right-nav {
  display: contents;
}
.row {
  padding-left: 10%;
}
.hero-image {
  background-image: url("/juncoffee/frontend/assets/img/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
  height: 638px;
}
.hero-title {
  color: white;
  padding: 10% 28% 3% 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}
.hero-desc {
  color: white;
  padding: 0 39% 3% 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.get-started {
  width: 25%;
  height: 60px;

  background: #ffba33;
  border-radius: 10px;
  border: none;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #6a4029;
}
.get-started:hover {
  background-color: #fdc75b;
}
.box-head {
  padding-right: 10%;
  padding-top: 5%;
}
.card-box {
  height: 200px !important;
}
.card-content {
  display: flex;
  justify-content: space-evenly;

  padding-top: 2%;
}
.card-content-item {
  padding-top: 3%;
  display: flex;
}
.text-item {
  display: grid;
  margin-left: 15%;
}
.bold-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.normal-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.content-desc {
  padding: 10% 10% 5%;
}
.desc-list-item {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  list-style: none;
  padding-left: 0;
}
.list-item-desc {
  padding-top: 2%;
}
.desc-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.desc-word {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.desc-item {
  padding: 4% 9% 0 8%;
}
.favorite {
  padding: 5% 5% 5% 0;
  background-color: #f5f5f5;
}
.section-title {
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.section-desc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  text-align: center;
  color: #4f5665;
}
.card-img-top {
  width: 40% !important;
  margin-top: -20%;
  margin-left: 30%;
}
.card-rows {
  padding: 10% 20% 0 26%;
}
.card-layout {
  padding-bottom: 10%;
  border-radius: 10px !important;
  border: 2px solid #dddddd !important;
  justify-content: space-between;
}
.card-layout-active {
  padding-bottom: 10%;
  border-radius: 10px !important;
  border: 2px solid #6a4029 !important;
  justify-content: space-between;
}
.card-cols {
  display: flex;
  justify-content: space-evenly;
}
.card-title {
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
.card-price-one {
  text-align: center;
  margin-top: 35%;
  padding-bottom: 10%;
}
.card-price-two {
  text-align: center;
  margin-top: 20%;
  padding-bottom: 10%;
}
.button-select {
  margin-top: 7%;
}
.chicken-list {
  margin-top: 20%;
}
.card-price-three {
  text-align: center;
  margin-top: 9%;
}
.button-select-active {
  margin-top: -7%;
}
.store {
  padding: 5% 5% 5% 0;
  background-color: #f5f5f5;
}
.global-image {
  margin-top: 8% !important;
  text-align: center;
}
.partner {
  padding: 0 5% 1% 0;
  background-color: #f5f5f5;
  text-align: center;
}
.testimony {
  background-color: #f5f5f5;
  padding: 0 5% 5% 0;
}
.user-detail {
  display: flex;
  justify-content: space-between;
}
.user-image {
  display: flex;
}
.user-credential {
  display: grid;
}
.user-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
.user-addres {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.user-testimony {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}
.card-testimony-active-layout {
  border: 2px solid #6a4029 !important;
  border-radius: 10px !important;
}
.card-testimony-layout {
  border: 2px solid #dddddd;
  border-radius: 10px;
}
.col-arrow {
  text-align: right;
}
.left-arrow {
  padding-bottom: 14%;
  margin-top: -2%;
}
.right-arrow {
  margin-top: -12%;
  margin-left: -5%;
}
.promo {
  background-color: #eeeeee;
  text-align: center;
}
.promo-overlay {
  margin-top: -7%;
  margin-right: 5%;
}
.promo-title {
  text-align: left;
  margin-top: 2%;
}
.promo-desc {
  text-align: left;
}
.card-promo-layout {
  margin-top: -10% !important;

  border-radius: 10px !important;
}
.card-promo-row {
  padding-left: 20%;
  padding-right: 20%;
}
.card-promo-row-inside {
  padding-left: 3%;
}
.promo-button {
  margin-top: 5%;
  margin-left: 25%;
}
.home-footer {
  background-color: #eeeeee;
}
.footer-brand {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #0b132a;
}
.footer-fb-icon {
  margin-left: -2%;
}
.footer-twitter-icon {
  margin-left: -3%;
}
.footer-ig-icon {
  margin-left: -3%;
}
.footer-home-copyright {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.footer-home-link {
  display: grid;
  row-gap: 5%;
}
